.form-wrapper{
  width: 30rem;
  padding: 3rem 0rem;
  margin: 0rem 5rem;
  form {
    .input-group {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.5rem;
        padding: 0.5rem 0rem;
        font-weight: bold;
      }
      input {
        font-size: 1.7rem;
        margin:0rem 0.5rem 0rem 0rem;
      }
    }
    button {
      margin: 1rem 0rem;
      font-weight: bold;
      color: #ffffff;
      background-color: lightseagreen;
      font-size: 1.6rem;
      border: none;
      padding: 0.8rem;
        cursor: pointer;
        &:hover{
          background-color: #000000;
          color: yellow;
          transition: 0.3s;
        }
    }
  }
}